In [1]:
import pandas as pd

In [6]:
data = pd.read_table('ml-1m/ratings.dat', sep='::', header=None, engine='python', names=['user_id', 'movie_id', 'rating', 'timestamp'])
data

         user_id  movie_id  rating  timestamp
0              1      1193       5  978300760
1              1       661       3  978302109
2              1       914       3  978301968
3              1      3408       4  978300275
4              1      2355       5  978824291
...          ...       ...     ...        ...
1000204     6040      1091       1  956716541
1000205     6040      1094       5  956704887
1000206     6040       562       5  956704746
1000207     6040      1096       4  956715648
1000208     6040      1097       4  956715569

[1000209 rows x 4 columns]

In [7]:
data['rating'] = data['rating'].astype(float)

In [8]:
data.drop('timestamp', axis=1, inplace=True)

In [11]:
data.to_csv('ml-1m/ratings.csv', index=False,header=False)