In [1]:
from cluster_methods.missingness_cluster import miscluster
from cluster_methods.projection_cluster import projcluster
from model.model import gsrs
from tools.tools import *
from sys import path
import pandas as pd
import numpy as np
import time
import torch
data = pd.read_csv('data/ratings.csv', header=None)

In [10]:
data_sample = data.sample(frac=0.0001)
data_sample

           0     1    2
398586  2372  1834  3.0
461430  2847  2478  2.0
883007  5333  1517  3.0
247683  1496  2124  4.0
869450  5252   919  5.0
...      ...   ...  ...
765937  4560   893  2.0
420376  2541  3043  2.0
197761  1215  2363  3.0
733482  4386  2163  3.0
287802  1717  3504  5.0

[100 rows x 3 columns]

In [3]:
data_sample_cuda = torch.tensor(data_sample.values).to('cuda')

In [4]:
#divide the data into 10 clusters
ug,ig = miscluster(data_sample, 10)
clusters = {}
clusters['uclusters'] = ug
clusters['iclusters'] = ig

In [5]:
paras = {'lambda':10, 'K':300, 'nstep':50, 'stopall':1e-3, 'stopone':1e-5, 'verbose':False, 'bias': False}
test1 = gsrs(paras)
test1.train(data_sample[[0,1]], data_sample[2], clusters)
result = np.array(test1.predict(data_sample[[0,1]]))

In [9]:
result

array([3.1386078 , 3.73272209, 3.73272315, 4.34357509, 2.55791461,
       3.73272448, 3.73272404, 3.73272374, 3.13860677, 3.13860774,
       1.98644319, 3.73272357, 3.13860756, 3.73272453, 2.55791466,
       3.73272501, 3.13860704, 4.31264148, 4.34357309, 3.73272471,
       2.5579146 , 2.55791459, 3.73272367, 3.13860772, 2.55791464,
       3.7327234 , 3.13860742, 3.13860793, 4.34357018, 4.3435715 ,
       1.9864432 , 4.3435771 , 4.34357266, 3.13860774, 4.34357417,
       2.57154941, 3.73272312, 3.73272517, 3.73272505, 2.55791462,
       1.9864432 , 3.72458794, 2.55791466, 3.13860746, 2.55791465,
       3.13860735, 4.34357333, 3.73272493, 3.17645701, 4.34357508,
       2.55791465, 3.73272426, 2.55791464, 3.13860734, 3.13860788,
       3.88056172, 3.13860799, 3.73272332, 4.34357632, 3.73272305,
       4.34921482, 3.73272201, 3.73272226, 3.13860736, 1.98644319,
       3.73272389, 3.13860752, 2.55791465, 3.73272327, 1.98644321,
       4.20403843, 3.13860723, 3.73272419, 3.73272474, 2.55791458,
       3.7327246 , 3.73272293, 3.1386073 , 4.34357409, 1.98644323,
       3.73272359, 3.73272275, 2.75235701, 3.13860723, 4.34357414,
       3.13860767, 3.73272362, 3.73272497, 4.34357195, 3.73272397,
       2.80193981, 4.34357749, 1.98644323, 3.13860732, 3.73272392,
       3.88056172, 4.3435763 , 2.55791459, 3.7327237 , 3.13860765])